* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    min-width: 610px;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #f6eee8;
    color: #4f3423;
  }
  
  .header {
    background-color: #a67e66;
    color: rgb(246, 240, 235);
    padding: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: 900;
  }
  
  .container {
    width: 100%;
    overflow: auto;
  }
  
  .menu {
    float: left;
    width: 20%;
    background-color: #d8b29a;
    padding: 30px 10px;
  }
  
  .content {
    float: left;
    width: 60%;
    padding: 30px;
  }
  
  .sidebar {
    float: left;
    width: 20%;
    background-color: #d8b29a;
    padding: 30px 10px;
  }
  
  .footer {
    clear: both;
    background-color: #a67e66;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
  }
  
  a {
    color: #4f3423;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    margin-bottom: 5px;
  }
  
  h2, h3 {
    margin-bottom: 10px;
    color: #4f3423;
    font-weight: 790;
  }
  
  p {
    overflow-wrap: break-word;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #f9f3ef7d;
    padding: 10px 5px;
  }
  
  img, video, audio {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: block;
    margin: 0 auto;
  }